{% extends "parent_layout.html" %}

{% block header %}
<title>Oh no a monster!</title>
{% endblock %}

{% block body %}

    <!-- Curly braces let us inject values into the string -->
    <p>You are in the {{ world['location'] }}. You found a monster!</p>

    <!-- Image taken from site that generates random Corgi pictures-->
    <p><img src="http://placecorgi.com/500/180" class="rounded border border-dark mx-auto d-block" /></p>

{% endblock %}

{% block controls %}

    <p>You can catch this new corgi!</p>

    <form action="/save/">

        <div class="form-group row">
            <label for="monster_name" class="col-sm-2 col-form-label">What is its name?</label>
            <div class="col-sm-3">
                <input type="text" id="monster_name" name="monster_name" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">How old is it?</label>
            <div class="col-sm-3">
                <input type="text" id="age" name="age" class="form-control"/><br>
            </div>
        </div>

        <div class="form-group row">
            <label for="monster_mood" class="col-sm-2 col-form-label">What is its mood?</label>
            <div class="col-sm-3">
                <select name="monster_mood" id="monster_mood" class="custom-select">
                    <option>Sleepy</option>
                    <option>Hungry</option>
                    <option>Fetch</option>
                </select>
            </div>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" name="is_fluffy" id="is_fluffy" value="true" class="form-check-input">
            <label for="is_fluffy" class="form-check-label">Is it fluffy?</label>
        </div>

        <div class="form-group">
            <input type="submit" value="Name the corgi" class="btn btn-primary"/><br>
        </div>
    </form>

{% endblock %}