{% extends "parent_layout.html" %}


{% block header %}
<title>Welcome to the Corgi Advenutre</title>
{% endblock %}

{% block body %}

    <p>You are in the lair of the Corgis!</p>
    <p>Up ahead, you can make out a fearsome beast.</p>

    <img src="/static/cute-ada.jpg" style="width: 200px" class="rounded border border-dark"/>

{% endblock %}
{% block controls %}

    <div class="list-group">
        <a href="goto/lair" class="list-group-item list-group-item-action">Go further into the lair.</a><br>
        <a href="goto/entrance" class="list-group-item list-group-item-action">Retreat.</a>
    </div>


{% endblock %}